fallos.dtd

<?xml encoding="UTF-8"?>

<!ELEMENT coches (coche)+>
<!ATTLIST coches
  xmlns CDATA #FIXED ''>

<!ELEMENT coche (GENERACION,FALLO)>
<!ATTLIST coche
  xmlns CDATA #FIXED ''>

<!ELEMENT GENERACION (#PCDATA)>
<!ATTLIST GENERACION
  xmlns CDATA #FIXED ''>

<!ELEMENT FALLO (#PCDATA)>
<!ATTLIST FALLO
  xmlns CDATA #FIXED ''>
